.heading {
  text-align: center;
}

.paragraph {
  text-align: center;
}

.nama1 {
  color: blueviolet;
  font-size: 1.3rem;
}

.nama2 {
  color: blueviolet;
  font-size: 1.3rem;
}

.email {
  color: blueviolet;
  font-size: 1.3rem;
}

.mobile {
  color: blueviolet;
  font-size: 1.3rem;
}

.subject {
  color: blueviolet;
  font-size: 1.3rem;
}

.message {
  color: blueviolet;
  font-size: 1.3rem;
}

.attachment {
  color: blueviolet;
  font-size: 1.3rem;
}
